@import "../../styles/breakpoint";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;

    &__user {
        margin-right: 16px;
        padding: 0 10px;
        img{
            cursor: pointer;
        }
        

        @include mobile {
            margin-right: 20px;
        }
    }

    &__scanner {
        margin-right: 26px;

        @include mobile {
            margin-right: 20px;
        }
    }
}

.logo {
    width: 140px;
    height: 30px;

    img {
        width: 100%;
        height: 100%;
    }
}

.navigation {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        display: flex;
        margin-block-start: 1em;

        li {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 18px;
            color: var(--color-gray);
            &.active{
                color: var(--color-pink);
            }
            &:hover {
                color: rgba(230, 33, 84, 0.83);
            }
        }
    }

    @include small-tablet {
        display: none;
    }
}



.actions {
    margin-block-start: 1em;
    display: flex;
    align-items: center;
    position: relative;

    // * {
    //     &:not(:last-child) {
    //         margin-right: 26px;

    //         @include mobile {
    //             margin-right: 20px;
    //         }
    //     }
    // }

    button {
        border: none;
        background: none;
        line-height: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

.miniProfile {
    padding-top: 10px;
    display: none;
    position: absolute;
    top: 100%;
    right: 20px;
    animation: menuFade ease 0.3s;
    @include mobile{
        right: 43px;
    }
    &.active {
        display: block;
    }

    &__wrapper {

        width: 250px;
        background-color: #fff;
        border: 1px solid #C8C8C8;
        border-radius: 20px;
        padding: 20px 24px;

    }


    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: var(--color-black);
    }

    &__mail {
        color: var(--color-gray);
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        margin-top: 4px;
    }

    &__user {}

    &__link {
        display: block;
        background: #E62455;
        border-radius: 20px;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        padding: 16px 28px;
        margin-top: 15px;
        text-align: center;
        transition: all ease  0.3s;
        &:hover{
            transform: scale(1.02);
        }
    }

    &__unauthorized {
        color: var(--color-gray);
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
    }
    &__nav{
        margin-top: 15px;
        li{
            &:not(:last-child){
                margin-bottom: 12px;
            }
        }
        a {
            padding: 0;
            font-size: 16px;
            font-weight: 500;
            color: var(--color-black);
        }
        hr{
            border-top: #e5e5e5;
            border-width: 1px;
            height: 1px; 
           }
    }
   
}

.burger {
    --burger-width: 21px;
    --burger-height: 15px;
    --burger-line-height: 3px;
    display: none;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #868686;
    background-color: transparent;
    cursor: pointer;
    margin-left: 13px;
    z-index: 200;

    @include small-tablet {
        display: block;
    }

    &::after,
    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--burger-line-height);
        border-radius: 30px;
        background-color: currentColor;
        transition: transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    &__line {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: var(--burger-line-height);
        background-color: currentColor;
        transform: translateY(-50%);
        border-radius: 30px;
        transition: transform .3s ease-in-out;
    }

    &:before {
        top: 0;
    }

    &:after {
        top: calc(100% - var(--burger-line-height));
    }

}


.burgerActive {
    color: var(--color-pink);

    & .burger__line {
        transform: scale(0);
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    &:after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out;

    }

    &:before {
        top: 50%;
        transform: rotate(45deg);
        -webkit-transition: top .3s ease-in-out, -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out, top .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    display: none;
    animation: menuFade 0.3s;

    &.menuActive {
        display: block;

        .menu__content {
            transform: translateX(0%);
        }
    }

    &__content {
        background: #fff;
        width: 75%;
        height: 100vh;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        animation: menuSlide 0.3s;
    }

    .navigation {
        display: block;

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 24px;
            }
        }

        a {
            display: block;
            font-weight: 500;
            font-size: 24px;
            text-align: center;
        }
    }
}

@keyframes menuFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes menuSlide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}