.button{
    background-color: var(--color-green);
    color: #fff;
    margin-top: 60px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.01);
    }
    &:active {
        transform: translateY(3px);
    }
    &:disabled{
        background-color: rgb(194 194 194);
        opacity: 0.5;
        cursor: initial;
        &:hover{
            transform: scale(1);
        }
    }
}