@import "../../styles/breakpoint";

.first {
    background-color: var(--color-pink);
    color: #fff;
    height: 93vh;
    overflow: hidden;

    @media only screen and (min-device-width: 120px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
        // height: auto;
        padding-bottom: 35px;
    }
    .container {
        height: 100%;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-top: 100px;
        padding-bottom: 140px;
        @include tablet {
            flex-direction: column-reverse;
            text-align: center;
            gap: 90px;
        }

        @include mobile {
            justify-content: flex-end;
            padding-top: 30px;
            padding-bottom: 0px;
        }

        @media (max-height:670px) {
            gap: 30px;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        max-width: 555px;

        @include tablet {
            align-items: center;
        }
    }

    &__right {
        @include mobile {
            img {
                width: 230px;
                height: 230px;
            }

        }
    }

    &__title {
        font-family: 'Rounds';
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 70px;

        span {
            font-size: 62px;
            display: block;
        }

        @include mobile {
            font-size: 28px;
            line-height: 43px;

            span {
                font-size: 36px;
            }
        }
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.7);
        margin-bottom: 24px;

        @include mobile {
            font-size: 20px;
        }
    }

    &__button {
        font-family: 'Ubuntu';
        font-weight: 700;
        font-size: 24px;
        background-color: #05AD69;
        border: none;
        color: #fff;
        border-radius: 20px;
        padding: 15px 30px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        @include mobile {
            padding: 15px 30px;
            font-size: 20px;
            width: 83%;
        }
    }
}

.about {
    position: relative;


    &__title {
        text-align: center;

        @include small-tablet {}

        @include mobile {}
    }

    &__wrapper {
        margin: 115px 0;

        @include mobile {
            margin-top: 45px;
            margin-bottom: 120px;
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 80px;
        gap: 20px;

        @include mobile {
            flex-direction: column;
            margin-top: 30px;
            gap: 0;
        }
    }

    &__number {
        font-size: 24px;
        line-height: 28px;
        color: var(--color-gray);
        font-weight: 500;
        text-align: center;

        span {
            font-size: 42px;
            line-height: 50px;
            color: var(--color-pink);
            font-family: 'Rounds';
            display: block;
            text-align: center;
            margin-top: 5px;
        }

        @include mobile {
            &:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }

    &__info {
        margin-top: 170px;

        @include mobile {
            margin-top: 25px;
        }

        h3 {
            text-align: center;
            font-size: 32px;
            text-transform: uppercase;
            text-align: center;
            font-family: 'Rounds';
            color: var(--color-pink);

            @include mobile {
                font-size: 20px;
                line-height: 24px;
            }
        }

        p {
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: var(--color-gray);
            margin: auto;
            margin-top: 20px;

            @include mobile {
                font-size: 20px;
                line-height: 23px;
                max-width: 360px;
            }

            // max-width: 1015px;

        }
    }


}

.collection {
    &__title {
        max-width: 800px;
        margin-top: 45px;

        @include tablet {
            max-width: fit-content;
            text-align: left;
        }

        @include mobile {
            font-size: 24px;
            margin-top: 35px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        top: -25px;
        flex-wrap: wrap;

        // margin-top: 85px;
        @include tablet {
            top: 0;
            margin-top: 50px;
            justify-content: center;
        }

        @include mobile {
            justify-content: center;
            margin-top: 40px;
        }
    }

    &__list {
        margin-bottom: 20px;

        @include mobile {
            margin-top: 0px;
        }

        li {
            font-family: 'Rounds';
            font-size: 28px;
            color: #5C5B5B;
            background: #E9E9E9;
            border-radius: 50px;
            height: 60px;
            width: 615px;
            display: flex;
            align-items: center;
            position: relative;
            padding-right: 20px;

            &:not(:last-child) {
                margin-bottom: 42px;
            }

            &::before {
                content: '';
                width: 100%;
                border: 2px dashed #000000;
                position: absolute;
                left: 0;
                transform: translate(-100%);
            }

            @include small-tablet {
                width: 100%;
                font-size: 24px;
            }

            @include mobile {
                font-size: 14px;
                height: 30px;
                padding-right: 30px;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &__order {
        color: #fff;
        background-color: var(--color-pink);
        font-size: 32px;
        height: 100%;
        border-radius: 50%;
        padding: 11px 22px;
        margin-right: 30px;
        line-height: 38px;

        @include small-tablet {
            margin-right: 10px;
        }

        @include mobile {
            font-size: 16px;
            padding: 6px 10px;
            line-height: 19px;
        }
    }

    &__img {
        position: relative;
        overflow-y: clip;

        img {
            position: relative;
            z-index: 10;
        }

        @include mobile {
            img {
                width: 230px;
                height: auto;
            }
        }

    }
}

.flavour {
    background-color: var(--color-pink);
    margin-top: 200px;

    @include tablet {
        margin-top: 100px;
        background-size: cover;
        background-position: 33% 0%;
    }

    @include mobile {
        margin-top: 40px;
    }

    &__title {
        text-align: center;
        margin-bottom: 100px;

        @include small-tablet {
            margin-bottom: 80px;
        }

        @include mobile {
            margin-bottom: 25px;
        }
    }

    &__wrapper {
        padding-top: 100px;
        padding-bottom: 150px;

        @include mobile {
            padding-top: 45px;
            padding-bottom: 25px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include small-tablet {
            flex-wrap: wrap;
        }

        @include mobile {
            flex-direction: column;
            align-items: center;
            margin-top: 35px;
        }
    }

    &__image {
        position: relative;
        z-index: 10;

        @include tablet {
            img {
                width: 230px;
                height: 230px;
            }
        }

        @include mobile {
            img {
                width: 180px;
                height: 180px;
            }
        }
    }

    &__element {
        position: relative;

        @include mobile {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    &__text {
        text-align: center;
        font-size: 54px;
        line-height: 65px;
        font-family: 'Rounds';
        text-transform: uppercase;
        color: #fff;
        margin-top: 20px;

        @include mobile {
            font-size: 43px;
            margin-top: 5px;
        }
    }
}
.news{
    margin-top: 140px;
    @include mobile {
        margin-top: 50px;
    }
}
.news, .newsPage {

    .title {
        text-align: center;
        margin-top: 50px;

        @include mobile {
            margin-top: 30px;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        gap: 40px;
        margin-top: 50px;

        @include mobile {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 25px;
        }
    }

    .new {
        border: 1px solid #CCCCCC;
        border-radius: 30px;
        transition: all 0.3s;
        overflow: hidden;
        &:hover {
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
            .news__image img {
                transform: scale(1.02);
            }
        }
        @include small-tablet {
            &:hover {
                .news__image img {
                    transform: scale(1);
                }
            }
        }
    }

    .info {
        padding: 15px 40px;
        font-weight: 500;
        font-size: 20px;
    }



   .date {
        margin-top: 15px;
        color: #797979;
        display: flex;
        justify-content: flex-end;
    }

    .image {
        width: 100%;
        height: 180px;
        overflow: hidden;
        position: relative;

        img {
            object-fit: cover;
            transition: all 0.25s ease-out;
        }

    }

    .more {
        text-align: center;
        width: 100%;
        margin-top: 60px;

        @include mobile {
            margin-top: 30px;
        }

        a {
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            color: #C7C7C7;

            &:hover {
                color: var(--color-pink);
                transition: all 0.3s ease-out;
            }
        }

    }
}