@import "../../../styles/breakpoint";

.account, .password {
    .title {
        font-weight: 500;
        font-size: 36px;
        line-height: 41px;
        color: var(--color-black);
        @include mobile{
            position: absolute;
            overflow: hidden;
            margin: -1px;
            border: 0;
            padding: 0;
            width: 1px;
            height: 1px;
            clip: rect(0 0 0 0);
        }
    }
    .textError{
        color:#E3000F;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
    }
    .form {
        max-width: 620px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, 260px);
        column-gap: 100px;
        row-gap: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        @include small-tablet{
            column-gap: 40px;
        }
        @include mobile{
            grid-template-columns: repeat(auto-fill, 280px);
            margin-top: 20px;
            margin-bottom: 20px;
            row-gap: 15px
        }
    }
    .inputLine {
        position: relative;
        img{
            position: absolute;
            right: -50px;
            top: 38px;
            cursor: pointer;
        }  
    }

    label {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: #C8C8C8;
    }

    input {
        border: none;
        background-color: #F2F2F2;
        width: 100%;
        margin-top: 10px;
        height: 50px;
        border-radius: 10px;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #1E1E1E;
        padding-left: 10px;
        &:focus {
            outline: none !important;
            background-color: #ccc7c72b;
        }
        &.account__inputError {
            border: 3px solid #e3000f82;
        }
    }

    button {
        width: auto;
        height: 50px;
        margin-top: 20px;
        &:active {
            transform: translateY(3px);
        }
    }
}

.passwordReset{
  width: 280px;
    margin-top: 60px;
    .account__inputLine{
        max-width: 260px;
    }
}

.password{
    display: flex;
    flex-direction: column;
    gap: 20px;
}