@import "../../styles/breakpoint";

.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    &__textError{
        color:#E3000F;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
    }
    &__serverError{
        color:#E3000F;
        font-size: 16px;
        font-weight: 500;
        margin-top: 24px;
        text-align: center;
    }
    &__title {
        font-family: 'Rounds';
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        color: var(--color-black);
    }

    &__form {
        margin-top: 30px;
        .auth__inputLine{
            position: relative;
            margin: 10px 0;
            img{
                position: absolute;
                right: 18px;
                top: 35px;
                cursor: pointer;
            }
        }
        .auth_flexLine{
            display: flex;
            gap: 10px;
            @include mobile{
                gap: 5px;
            }
        }
        label {
            display: block;
            color: #000000;
            font-weight: 500;
            font-size: 16px;
        }

        input {
            font-family: 'Ubuntu';
            font-weight: 500;
            font-size: 22px;
            border: 3px solid #D9D9D9;
            width: 100%;
            height: 50px;
            border-radius: 10px;
            margin-top: 10px;
            padding-left: 10px;
            &:focus {
                outline:none !important;
                background-color: #ccc7c72b ;
            }
            @include mobile{
              font-size: 18px;
            }
            &.auth__inputError{
                border: 3px solid #e3000f82;
            }
        }

        button {
            width: 100%;
            height: 60px;
            font-weight: 500;
            margin-top: 24px;
        }
    }
    &__blueLink{
        color: var(--color-blue);
    }
    &__reference{
        color: #797979;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        margin-top: 18px;
        a{
            //
        }
    }
}