@import "breakpoint";

.bubbleGroup {
    position: absolute;
}

.bubble {
    position: relative;
}

.first {
    .bubbles {
        .bubbleGroup:nth-child(1) {
            top: 29%;
            left: 14%;

            @include big-desktop {
                left: 6%;
            }

            @include tablet {
                top: 13%;
                left: 26%;
            }

            @include small-tablet {
                top: 12%;
                left: 15%;
            }

            .bubble:nth-child(1) {
                left: 20%;
            }

            .bubble:nth-child(2) {
                left: 130%;
            }

            .bubble:nth-child(3) {
                top: -12px;
            }
        }

        .bubbleGroup:nth-child(2) {
            top: 25%;
            left: 35%;

            @include tablet {
                top: 40%;
                left: 79%;
            }

            @include small-tablet {
                top: 40%;
                left: 77%;
            }

            @include mobile {
                top: 41%;
                left: 65%;
            }

            .bubble:nth-child(1) {
                left: 20%;
                top: 20px;
            }

            .bubble:nth-child(2) {
                left: 180%;
                top: -20px;
            }

            .bubble:nth-child(3) {
                left: 110%;
                top: -10px;
            }
        }

        .bubbleGroup:nth-child(3) {
            top: 75%;
            left: 7%;

            @include big-desktop {
                top: 72%;
                left: 0%;
            }

            @include tablet {
                top: 41%;
                left: 13%;
            }

            @include small-tablet {
                top: 47%;
                left: 0%;
            }

            .bubble:nth-child(1) {
                left: -20px;

                @include small-tablet {
                    display: none;
                }
            }

            .bubble:nth-child(2) {
                left: 110%;
                top: -25px;
            }

            .bubble:nth-child(3) {
                left: 70%;
                top: 0px;
            }
        }

        .bubbleGroup:nth-child(4) {
            top: 85%;
            left: 22%;

            @include tablet {
                top: 98%;
                left: 89%;
            }

            @include small-tablet {}

            @include mobile {
                left: 85%;
            }

            @media (max-height:750px) {
                top: 116%;
            }
        }

        .bubbleGroup:nth-child(5) {
            top: 73%;
            left: 45%;

            @include tablet {
                top: 89%;
                left: 10%;
            }

            @include small-tablet {}

            @media (max-height:750px) {
                top: 112%;
                left: 10%;
            }
          
            .bubble:nth-child(1) {
                left: 50px;

                @include small-tablet {
                    left: 26px;
                }
            }

            .bubble:nth-child(3) {
                left: -5px;
                top: 15px;

                @include small-tablet {
                    left: 50px;
                    top: -10px;
                }

            }

            .bubble:nth-child(4) {
                left: 50px;
                top: -30px;

                @include small-tablet {
                    display: none;
                }
            }

            .bubble:nth-child(5) {
                left: 150px;
                top: -90px;

                @include small-tablet {
                    display: none;
                }
            }
        }
    }

}

.collection {
    .bubbles {
        .bubbleGroup:nth-child(1) {
            top: 7%;
            left: 10%;

            .bubble:nth-child(1) {
                left: 40px;
            }

            .bubble:nth-child(2) {
                top: -10px;
            }
        }

        .bubbleGroup:nth-child(2) {
            left: 86%;
            top: 10%;

            .bubble:nth-child(2) {
                top: -71px;
                left: -52px;
            }
        }

        .bubbleGroup:nth-child(3) {
            top: 50%;
            left: 8%;

            .bubble:nth-child(1) {
                top: -10px;
            }
        }

        .bubbleGroup:nth-child(4) {
            top: 67%;
            left: 92%;
        }

        .bubbleGroup:nth-child(5) {
            top: 96%;
            left: 16%;
        }

        .bubbleGroup:nth-child(6) {
            top: 89%;
            left: 93%;

            .bubble:nth-child(1) {
                top: -16px;
                left: 27px;
            }
        }

        .bubbleGroup:nth-child(7) {
            top: 100%;
            left: 93%;

            .bubble:nth-child(1) {
                top: -16px;
                left: 27px;
            }
        }
        .bubbleGroup:nth-child(8) {
            top: 100%;
            left: 33%;

            .bubble:nth-child(1) {
                top: -16px;
                left: 27px;
            }
        }
    }
}

.about {
    position: relative;

    .bubbles {
        .bubbleGroup:nth-child(1) {
            left: 16%;
            top: 6%;

            @include big-desktop {
                left: 9%;
                top: 6%;
            }

            @include mobile {
                left: 2%;
                top: 8%;
            }

            .bubble:nth-child(2) {
                left: 55px;
            }

            .bubble:nth-child(3) {
                left: -15px;
                top: -10px;
            }
        }

        .bubbleGroup:nth-child(2) {
            left: 76%;
            top: 10%;

            @include big-desktop {
                left: 84%;
                top: 5%;
            }

            @include mobile {
                left: 79%;
                top: 12%;
            }

            .bubble:nth-child(1) {
                top: 0px;
            }

            .bubble:nth-child(2) {
                left: 25px;
            }
        }

        .bubbleGroup:nth-child(3) {
            left: 47%;
            top: 45%;

            @include tablet {
                top: 45%;
            }

            @include mobile {
                display: none;
            }

            .bubble:nth-child(1) {}

            .bubble:nth-child(2) {
                top: -26px;
                left: 45px;
            }

            .bubble:nth-child(3) {
                top: -71px;
                left: 90px;

            }
        }

        .bubbleGroup:nth-child(4) {
            top: 68%;
            left: 8%;

            @include big-desktop {
                top: 68%;
                left: 5%;
            }

            @include small-tablet {
                top: 84%;
                left: 10%;
            }

            .bubble:nth-child(1) {}

            .bubble:nth-child(2) {
                left: -40px;
                top: 10px;
            }

            .bubble:nth-child(3) {
                left: 53px;
                top: -33px;
            }
        }

        .bubbleGroup:nth-child(5) {
            top: 72%;
            left: 88%;

            @include big-desktop {
                
            }

            @include small-tablet {
                top: 86%;
                left: 81%;
            }

            .bubble:nth-child(1) {
                left: 37px;
                top: 0px;
            }

            .bubble:nth-child(2) {
                left: 66px;
                top: 2px;
            }

            .bubble:nth-child(3) {
                left: -45px;
                top: 0px;
            }

            .bubble:nth-child(4) {
                top: -37px;
                left: 28%;
            }

        }
    }

}

.flavour {
    position: relative;
    .flavour__element{
        .bubbles {
            .bubbleGroup:nth-child(1) {
                top: 31%;
                left: -11%;
                @include mobile{
                    top: 15%;
                    left: -24%;
                }
                .bubble:nth-child(2) {
                    left: 30px;
                    top: -15px;
                }
    
                .bubble:nth-child(3) {
                    top: -15px;
                }
    
                .bubble:nth-child(4) {
                    left: 50px;
                    top: -29px;
                }
            }
    
            .bubbleGroup:nth-child(2) {
                top: 31%;
                left: 97%;
                .bubble:nth-child(1) {
                    left: 45px;
                }
    
                .bubble:nth-child(3) {}
            }
        }
    }
}